:root {
    --border-color: white;
    --border-radius: 4px;
    --default-transition: all 0.15s ease-in-out;
    --default-font-size: 14px;
    --background-color: #1e1e1e;
    --font-color: white;
    --font-family: Sans-serif
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

main {
    padding: 10px;
    color: var(--font-color);
    font-size: var(--default-font-size);
}

.app {
    display: flex;
    gap: 10px;
}

.react-aria-ToggleButton {
    display: flex;
    color: inherit;
    position: absolute;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: var(--default-transition);
    outline: none;
    top: 5%;
    left: 60%;
}

.react-aria-ToggleButton[data-selected] {
    background-color: rgba(255, 255, 0, 0.75);
}

.react-aria-ModalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blur 0.15s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    transition: var(--default-transition);
}

@keyframes blur {
    from {}
  
    to {
        backdrop-filter: blur(10px);
    }
}

.react-aria-Slider {
    display: grid;
    grid-template-areas: "label output"
                         "track track";
    grid-template-columns: 1fr auto;
    max-width: 300px;
    color: var(--text-color);
  
    .react-aria-Label {
      grid-area: label;
    }
  
    .react-aria-SliderOutput {
      grid-area: output;
    }
  
    .react-aria-SliderTrack {
      grid-area: track;
      position: relative;
  
      /* track line */
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: var(--border-color);
      }
    }
  
    .react-aria-SliderThumb {
      width: 1.429rem;
      height: 1.429rem;
      border-radius: 50%;
      background: var(--highlight-background);
      border: 2px solid var(--background-color);
      forced-color-adjust: none;
  
      &[data-dragging] {
        background: var(--highlight-background-pressed);
      }
  
      &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
      }
    }
  
    &[data-orientation=horizontal] {
      flex-direction: column;
      width: 300px;
  
      .react-aria-SliderTrack {
        height: 30px;
        width: 100%;
  
        &:before {
          height: 3px;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
  
      .react-aria-SliderThumb {
        top: 50%;
      }
    }
}